<div class="bg_img"></div>
<header [ngClass]="{'header_fixed': scrolled}">
  <div class="logo">
    <span>Prasanna</span>
  </div>
  <div class="menu_list" [class.active]="isActive">
    <ul>
      <li><a href="#home" [ngClass]="{'active': currentActive === 1}" (click)="scrollToElement(home)">Home</a></li>
      <li><a href="#about" [ngClass]="{'active': currentActive === 2}" (click)="scrollToElement(about)">About</a></li>
      <li><a href="#skills" [ngClass]="{'active': currentActive === 3}" (click)="scrollToElement(skills)">Skills</a></li>
      <li><a href="#education" [ngClass]="{'active': currentActive === 4}" (click)="scrollToElement(education)">Education</a></li>
      <li><a href="#experience" [ngClass]="{'active': currentActive === 5}" (click)="scrollToElement(experience)">Experience</a></li>
      <li><a href="javascript:void(0)" class="contact" (click)="closeForm()">Contact</a></li>
      <ion-icon tabindex="9" name="close-outline" class="mobile_nav_icon" (click)="toggleNav()"></ion-icon>
    </ul>
  </div>
  <ion-icon name="menu-outline" class="mobile_nav_icon" (click)="toggleNav()"></ion-icon>
</header>
<section #home class="section home_section">
  <div class="home_content">
    <h1>Hey, I'm <span>Prasanna</span></h1>
    <p>MCA Graduate | 1.10 years of experience in Web Development | Sound understanding of HTML, CSS, Javascript, jQuery.</p>
    <button class="about_me_btn" (click)="scrollToElement(about)">
      About Me <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
    </button>
  </div>
  <div class="home_img">
    <img src="assets/img/banner_img.png" alt="">
  </div>
</section>
<section #about class="section about_section">
  <div class="about_img">
    <img src="assets/img/about.png" alt="my-img">
  </div>
  <div class="about_me">
    <h2>Prasanna Venkatesh Kumar RTV</h2>
    <div class="profession">
      <p>Web Developer</p>
      <p>MEAN Stack Developer</p>
    </div>
    <br>
    <p>Currently working as a Web Developer with 1.10 years of experience in HTML, CSS, jQuery.
      Well experienced in developing Responsive & Interactive websites.
      Have some knowledge in angular and interested to work in angular framework.
    </p>
    <br>
    <button class="resume" (click)="openPDF()">
      Resume <ion-icon name="document-outline" class="md hydrated"></ion-icon>
    </button>
  </div>
  <ul class="social_icons">
    <li>
      <a href="https://www.linkedin.com/in/prasanna-venkatesh-kumar-r-t-v-074a82145/" class="linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/pvk13797" class="github">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/prasanna_venkat_97/" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/pvk13797" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</section>
<section #skills class="section skill_section">
  <div class="skill_area">
    <h2>My Skills</h2>
    <p>Tiles in <span>blue</span> are some of my major skills</p>
    <div class="skill_show">
      <div class="major">
        <img src="assets/img/html.svg" alt="html">
        <p>HTML5</p>
      </div>
      <div class="major">
        <img src="assets/img/css3.svg" alt="css">
        <p>CSS3</p>
      </div>
      <div class="major">
        <img src="assets/img/javascript.svg" alt="javascript">
        <p>Javascript</p>
      </div>
      <div class="major">
        <img src="assets/img/jquery.svg" alt="jQuery">
        <p>jQuery</p>
      </div>
      <!-- <div class="major">
        <img src="assets/img/mongodb.svg" alt="mongodb">
        <p>MongoDB</p>
      </div>
      <div class="major">
        <img src="assets/img/expressjs.png" alt="expressjs">
        <p>Express JS</p>
      </div> -->
      <div class="major">
        <img src="assets/img/angular.svg" alt="angular">
        <p>Angular</p>
      </div>
      <!-- <div class="major">
        <img src="assets/img/nodejs.svg" alt="nodejs">
        <p>NodeJs</p>
      </div>
      <div class="minor">
        <img src="assets/img/Bootstrap.svg" alt="bootstrap">
        <p>Bootstrap</p>
      </div>
      <div class="minor">
        <img src="assets/img/sass.png" alt="sass">
        <p>Sass</p>
      </div> -->
    </div>
  </div>
</section>
<section #education class="section education_section">
  <div class="education_area">
    <h2>Education</h2>
    <p>These are some of my past qualifications.</p>
  </div>
  <div class="education_show">
    <div class="card pg">
      <div class="img_area">
        <img src="assets/img/graduation.png" alt="education">
      </div>
      <h6 class="course_name">Master of Computer Applications</h6>
      <p class="institute_name">SASTRA University</p>
      <span class="passed_out">Completed 2018 - 2020</span>
    </div>
    <div class="card ug">
      <div class="img_area">
        <img src="assets/img/graduation.png" alt="education">
      </div>
      <h6 class="course_name">Bachelor of Computer Science</h6>
      <p class="institute_name">Sourashtra College</p>
      <span class="passed_out">Completed 2015 - 2018</span>
    </div>
  </div>
</section>
<section #experience class="section experience_section">
  <div class="experience_area">
    <h2>Experience</h2>
    <p>These are the compaines where I've previously worked.</p>
  </div>
  <div class="experience_show">
    <ul class="experience_list">
      <li class="zoho" [class.active]="activeTab === 1" (click)="setActiveTab(1)">Zoho</li>
      <li class="gofrugal" [class.active]="activeTab === 2" (click)="setActiveTab(2)">Gofrugal Technologies</li>
      <li class="siam" [class.active]="activeTab === 3" (click)="setActiveTab(3)">Siam Computing</li>
    </ul>
    <div *ngIf="activeTab === 1" class="gofrugal experience_description">
      <h4>Zoho</h4>
      <span>From July 2023 - to Present</span>
      <p><b>Responsbilities:</b>
        <br><br>
        - Developing new components based on design specifications.<br>
        - Understanding existing code and optimization in terms of functionality and performance.<br>
      </p>
    </div>
    <div *ngIf="activeTab === 2" class="gofrugal experience_description">
      <h4>Gofrugal Technologies</h4>
      <span>From December 2022 - to June 2023</span>
      <p><b>Responsbilities:</b>
        <br><br>
        - With expertise in enhancing and optimizing gofrugal website.<br>
        - Implementing design requirements and integrating server-developed APIs to ensure seamless functionality.<br>
        - Continuously strive to deliver high-quality solutions that align with business objectives & enhance overall UI experience.<br>
      </p>
    </div>
    <div *ngIf="activeTab === 3" class="siam experience_description">
      <h4>Siam Computing</h4>
      <span>From September 2021 - to November 2022</span>
      <p><b>Responsbilities:</b>
        <br><br>
        - Analyzing the requirements and design along with the team.<br>
        - Create documents for Time Estimations, Planning & Typography.<br>
        - To develop & deploy the websites with responsive.<br>
        <br><br>
        <b>Awards:</b>
        <br><br>
        - Best team player award as a fresher.
      </p>
    </div>
  </div>
</section>
<section class="contact_form" [class.open]="isOpen">
  <div class="form_area">
    <div class="form_img">
      <img src="assets/img/contact.png" alt="">
    </div>
    <div class="form_div">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="data_area">
          <input id="name" type="text" formControlName="name" placeholder="Name">
          <div class="error" *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched && submitted">
            Name is required.
          </div>
        </div>
        <div class="data_area">
          <input id="email" type="email" formControlName="email" placeholder="Email">
          <div class="error" *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched && submitted">
            Email is required.
          </div>
        </div>
        <div class="data_area">
          <textarea id="message" formControlName="message" placeholder="Message"></textarea>
          <div class="error" *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched && submitted">
            Message is required.
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
      <ion-icon name="close-outline" class="close_icon md hydrated" role="img" aria-label="close outline" (click)="closeForm()"></ion-icon>
    </div>
  </div>
</section>
<footer>
  <div class="get_in_touch">
    <h3>Start a project?</h3>
    <p>Interested in working together? We should queue up a time to chat.</p>
    <a class="get_in_touch_btn" href="mailto:pvk13797@gmail.com" target="_blank">Get in touch</a>
  </div>
  <div class="info">
    <div class="profile_info">
      <div class="pro_img">
        <img src="assets/img/banner_img.png" alt="Profile Image">
      </div>  
      <p>
        Prasanna Venkatesh Kumar R T V
        <br>
        Mail me at
        <a href="mailto:pvk13797@gmail.com" target="_blank">pvk13797@gmail.com</a>
      </p>
    </div>
    <div class="reach_me">
      <h3>Reach me out on</h3>
      <ul class="social_icons">
        <li>
          <a href="https://www.linkedin.com/in/prasanna-venkatesh-kumar-r-t-v-074a82145/" class="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/pvk13797" class="github">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/prasanna_venkat_97/" class="instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/pvk13797" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyrights">
    &copy; {{year}} Prasanna Venkatesh Kumar. All rights reserved.
  </p>
</footer>