@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: auto;
    max-width: 100%;
}
:root{
    --font-family: 'Poppins', sans-serif;
    --h1-font-family: 'Catamaran', sans-serif; 
    --para-font-size: 18px;
    --primary-yellow: #efcf5e;
    --parrot-green: #16a34a;
    --light-blue: #0090dd;
    --light-gray: #f7f7f7;
    --text-gray: #3f3f46;
    --dark-gray: #18181b;
    --fade-black: #000000d7;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: var(--light-gray);
}
::-webkit-scrollbar-thumb {
    background: #daa520;
}
::-webkit-scrollbar-thumb:hover{
    background: #daa520;
}
p{
    font-family: var(--font-family);
    font-size: var(--para-font-size);
    font-weight: 400;
    line-height: 18px;
}
a{
    text-decoration: none;
    color: var(--dark-gray);
}
button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.bg_img{
    background-image: url(../assets/img/bg-banner.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation: banner_animation 50s infinite linear;
}
@keyframes banner_animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all .3s;
    -webkit-transition: all .3s;
}
header.header_fixed{
    height: 70px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: rgba(149,157,165,.2) 0 8px 24px;
    animation: header_animation .3s normal;
}
@keyframes header_animation {
    0% {
        height: 110px;
    }

    100% {
        height: 70px;
    }
}
header > .menu_list{
    display: flex;
}
.menu_list > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}
.menu_list > ul > li > a{
    font-family: var(--font-family);
    font-weight: 300;
    cursor: pointer;
    padding: 5px 10px;
}
.menu_list > ul > li > a.active{
    text-decoration: underline;
    text-underline-offset: 13px;
}
.menu_list > ul > li > a.contact{
    display: flex;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--light-gray);
    background-color: var(--parrot-green);
    border-radius: 5px;
    padding: 7px 20px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 80px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--light-gray);
    color: var(--text-gray);
    transition: all .7s;
}
.home_section{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, .96);
}
.home_section > .home_content{
    width: 50%;
    margin-top: 32px;
}
.home_section > .home_content h1{
    font-family: var(--h1-font-family);
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
}
.home_section > .home_content h1 span{
    font-family: var(--h1-font-family);
    color: var(--primary-yellow);
}
.home_section > .home_content p{
    font-family: var(--font-family);
    padding: 0 0 30px 0;
    line-height: 34px;
}
.home_section > .home_content button{
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--dark-gray);
}
.home_section > .home_img{
    width: 40%;
}
.about_section{
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(255,255,255,.95),#fff,#fff,#f9f9f9,#f7f7f7);
    height: max-content;
}
.about_section > .about_img{
    width: 30%;
}
.about_section > .about_me{
    width: 50%;
    padding: 16px;
    margin: 16px;
}
.about_section > .about_me h2{
    font-family: var(--h1-font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
}
.about_section > .about_me p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 28px;
}
.about_section > .about_me .profession{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.about_section > .about_me .profession p{
    font-family: var(--font-family);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    color: var(--dark-gray);
    background-color: #e2e8f0;
}
.about_section > .social_icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 22px;
    border-radius: 16px;
    padding: 0;
}
.about_section > .social_icons li{
    list-style: none;
}
.about_section > .social_icons li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all .6s;
    -webkit-transition: all .6s;
    border-radius: 0;
    aspect-ratio: 1/1;
}
.about_section > .social_icons li a:focus,
.about_section > .social_icons li a:hover{
    transform: scale(1.1);
    border-radius: 50%;
    cursor: pointer;
}
.about_section > .social_icons li a.linkedin:focus,
.about_section > .social_icons li a.linkedin:hover,
footer > .info .reach_me ul li a.linkedin:focus,
footer > .info .reach_me ul li a.linkedin:hover{
    background-color: #0077B5;
}
.about_section > .social_icons li a.github:focus,
.about_section > .social_icons li a.github:hover,
footer > .info .reach_me ul li a.github:focus,
footer > .info .reach_me ul li a.github:hover{
    background-color: #252525;
}
.about_section > .social_icons li a.instagram:focus,
.about_section > .social_icons li a.instagram:hover,
footer > .info .reach_me ul li a.instagram:focus,
footer > .info .reach_me ul li a.instagram:hover{
    background: radial-gradient(circle at 30% 110%,#ffdb8b 0,#ee653d 25%,#d42e81 50%,#a237b6 75%,#3e5fbc 100%);
}
.about_section > .social_icons li a.twitter:focus,
.about_section > .social_icons li a.twitter:hover,
footer > .info .reach_me ul li a.twitter:focus,
footer > .info .reach_me ul li a.twitter:hover{
    background-color: #1DA1F2;
}
.about_section > .social_icons li a i{
    font-size: 32px;
    transition: all .3s;
    -webkit-transition: all .3s;
    color: #222;
}
.about_section > .social_icons li a:focus i,
.about_section > .social_icons li a:hover i{
    color: #FFFFFF;
    cursor: pointer;
}
.skill_section{
    height: max-content;
    padding-left: 36px;
    padding-right: 36px;
}
.skill_section > .skill_area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.skill_section > .skill_area h2{
    font-family: var(--h1-font-family);
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    margin: 0 0 10px 0;
}
.skill_section > .skill_area p{
    margin: 0 0 32px 0;
}
.skill_section > .skill_area .skill_show{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.skill_section > .skill_area .skill_show div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    max-width: 100%;
    height: 150px;
    background-color: #e2e8f0;
    border-radius: 16px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.skill_section > .skill_area .skill_show div:hover{
    background-color: #d6dae1;
}
.skill_section > .skill_area .skill_show .major{
    background-color: rgba(34,211,238,.1137254902);
}
.skill_section > .skill_area .skill_show .major:hover{
    background-color: rgba(34,211,238,.1725490196);
}
.skill_section > .skill_area .skill_show div img{
    width: 40px;
    max-width: 100%;
}
.skill_section > .skill_area .skill_show div p{
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0;
}
.education_section{
    padding-left: 20px;
    padding-right: 20px;
}
.education_section > .education_area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.education_section > .education_area h2{
    font-family: var(--h1-font-family);
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.education_section > .education_area p{
    font-family: var(--font-family);
    margin: 0 0 20px 0;
}
.education_section > .education_show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.education_section > .education_show .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    max-width: 100%;
    margin: 22px;
    padding: 16px;
    background-color: var(--light-gray);
    border-radius: 16px;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
}
.education_section > .education_show .card .img_area{
    display: flex;
    margin: auto;
    overflow: hidden;
    height: max-content;
    border-radius: 16px;
}
.education_section > .education_show .card h6{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: 0 0 5px 0;
}
.education_section > .education_show .card p{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 10px 0;
}
.education_section > .education_show .card span{
    font-family: var(--font-family);
    width: max-content;
    margin: 0 auto 20px auto;
    padding: 0 10px;
    color: #14532d;
    background-color: #bbf7d0;
    font-weight: 500;
    border-radius: 8px;
}
.experience_section{
    background-image: none;
    background-color: var(--light-gray);
}
.experience_section > .experience_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.experience_section > .experience_area h2{
    font-family: var(--h1-font-family);
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.experience_section > .experience_area p{
    font-family: var(--font-family);
    margin: 0 0 20px 0;
}
.experience_section > .experience_show{
    display: flex;
    width: 90%;
    height: max-content;
    border-radius: 16px;
    padding: 32px;
}
.experience_section > .experience_show ul{
    width: 30%;
    padding: 0;
}
.experience_section > .experience_show ul li{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    height: max-content;
    padding: 32px;
    border-left: 2px solid rgba(0,0,0,.152);
    transition: ease-out .5s;
    -webkit-transition: ease-out .5s;
    list-style: none;
}
.experience_section > .experience_show ul li:hover{
    background-color: rgba(0,0,0,.04);
    transition: all .2s;
    -webkit-transition: all .2s;
}
.experience_section > .experience_show ul li.active{
    color: var(--light-blue);
    border-left: 2px solid var(--dark-gray);
}
.experience_section > .experience_show .experience_description{
    width: 100%;
    padding: 0 42px;
}
.experience_section > .experience_show .experience_description h4{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.experience_section > .experience_show .experience_description span{
    display: block;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    color: #f87171;
    margin: 0 0 30px 0;
}
.experience_section > .experience_show .experience_description p{
    font-family: var(--font-family);
    margin: 0 0 10px 0;
    line-height: 28px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: max-content;
    min-height: 200px;
    padding: 35px 50px 0 50px;
    color: #f7f7f7;
    background-color: var(--dark-gray);
}
footer > .get_in_touch{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    position: absolute;
    gap: 20px;
    top: -36px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.942);
}
footer > .get_in_touch h3{
    font-family: var(--font-family);
    font-size: 26px;
    font-weight: 600;
    color: #22c55e;
    text-align: center;
}
footer > .get_in_touch p{
    font-family: var(--font-family);
    font-size: 14px;
    margin: auto;
}
footer > .get_in_touch a{
    display: flex;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--light-gray);
    background-color: var(--parrot-green);
    border-radius: 5px;
    padding: 7px 20px;
}
footer > .get_in_touch a:focus,
footer > .get_in_touch a:hover{
    background-color: #22c55e;
    color: #FFFFFF;
}
footer > .info{
    display: flex;
    width: 100%;
    margin: 50px 0;
}
footer > .info .profile_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer > .info .profile_info .pro_img{
    display: flex;
    width: 90px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}
footer > .info .profile_info p{
    font-family: var(--font-family);
    font-size: 12px;
}
footer > .info .profile_info p a{
    font-family: var(--font-family);
    color: var(--light-blue);
}
footer > .info .reach_me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-left: 1px solid #F7F7F7;
}
footer > .info .reach_me h3{
    font-family: var(--font-family);
    font-size: 26px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: auto;
}
footer > .info .reach_me ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 40px;
    border-radius: 10px;
}
footer > .info .reach_me ul li{
    list-style: none;
}
footer > .info .reach_me ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40px;
    max-width: 100%;
    height: 40px;
    transition: all .6s;
    -webkit-transition: all .6s;
    aspect-ratio: 1/1;
}
footer > .info .reach_me ul li a i{
    font-size: 24px;
    color: #F7F7F7;
    transition: all .3s;
    -webkit-transition: all .3s;
}
footer > .info .reach_me ul li a:focus,
footer > .info .reach_me ul li a:hover{
    transform: scale(1);
    border-radius: 50%;
}
footer > .copyrights{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    padding: 20px 0;
    border-top: 1px solid #27272A;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 1024px){
    .section{
        flex-direction: column;
        padding: 50px 80px;
    }
    .home_section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home_section > .home_content{
        width: 100%;
    }
    .home_section > .home_content h1{
        text-align: center;
    }
    .home_section > .home_content button{
        margin: auto;
    }
    .about_section{
        flex-direction: column;
        text-align: center;
    }
    .about_section > .about_me{
        width: 100%;
        margin: 0;
        border-radius: 20px;
        background-color: var(--light-gray);
    }
    .about_section > .about_me .profession{
        justify-content: center;
    }
    .about_section > .social_icons{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        margin: 30px 10px;
    }
    .about_section > .social_icons li a{
        background-color: #E5E5E5;
        padding: 15px;
        border-radius: 50%;
    }
    .about_section > .social_icons li a i{
        font-size: 25px;
    }
    footer{
        flex-direction: column;
        height: max-content;
        padding: 130px 50px 0 50px;
        justify-content: center;
    }
    footer > .get_in_touch{
        width: 90%;
        flex-direction: column;
        top: -75px;
    }
    footer > .get_in_touch a{
        margin: auto;
        width: auto;
    }
    footer > .info{
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 30px;
    }
    footer > .info .reach_me{
        border-left: none;
    }
    footer > .info .reach_me ul{
        gap: 25px;
    }
    footer > .info .reach_me ul li a{
        padding: 25px;
        background-color: #000;
        border-radius: 50%;
    }
}