<div class="bg_img"></div>
<header [ngClass]="{'header_fixed': scrolled}">
  <div class="logo">PVK</div>
  <div class="menu_list">
    <ul>
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Skills</a></li>
      <li><a>Projects</a></li>
      <li><a>Education</a></li>
      <li><a>Experience</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>
</header>
<section class="section home_section" id="home">
  <div class="home_content">
    <h1>Hey, I'm <span>Prasanna</span></h1>
    <p>MCA Graduate | 1.7 years of experience in Web Development | Sound understanding of HTML, CSS, Javascript, jQuery.</p>
    <button class="about_me_btn">
      About Me <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
    </button>
  </div>
  <div class="home_img">
    <img src="assets/img/banner_img.png" alt="">
  </div>
</section>
<section class="section about_section" id="about">
  <div class="about_img">
    <img src="assets/img/about.png" alt="my-img">
  </div>
  <div class="about_me">
    <h2>Prasanna Venkatesh Kumar RTV</h2>
    <div class="profession">
      <p>Web Developer</p>
      <p>MEAN Stack Developer</p>
    </div>
    <br>
    <p>Currently working as a Web Developer with 1.7 years of experience in HTML, CSS, jQuery.
      Well experienced in developing Responsive & Interactive websites.
      Have some knowledge in angular and interested to work in angular framework.
    </p>
    <br>
  </div>
  <ul class="social_icons">
    <li>
      <a href="https://www.linkedin.com/in/" class="linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com" class="github">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</section>
<section class="section skill_section">
  <div class="skill_area">
    <h2>My Skills</h2>
    <p>Tiles in <span>blue</span> are some of my major skills</p>
    <div class="skill_show">
      <div class="major">
        <img src="assets/img/skill.png" alt="skill_set">
        <p>Skill Name 1</p>
      </div>
      <div class="minor">
        <img src="assets/img/skill.png" alt="skill_set">
        <p>Skill Name 2</p>
      </div>
      <div class="minor">
        <img src="assets/img/skill.png" alt="skill_set">
        <p>Skill Name 3</p>
      </div>
    </div>
  </div>
</section>
<section class="section education_section">
  <div class="education_area">
    <h2>Education</h2>
    <p>These are some of my past qualifications.</p>
  </div>
  <div class="education_show">
    <div class="card pg">
      <div class="img_area">
        <img src="assets/img/graduation.png" alt="education">
      </div>
      <h6 class="course_name">Master of Computer Applications</h6>
      <p class="institute_name">SASTRA University</p>
      <span class="passed_out">Completed 2018 - 2020</span>
    </div>
    <div class="card ug">
      <div class="img_area">
        <img src="assets/img/graduation.png" alt="education">
      </div>
      <h6 class="course_name">Bachelor of Computer Science</h6>
      <p class="institute_name">Sourashtra College</p>
      <span class="passed_out">Completed 2015 - 2018</span>
    </div>
  </div>
</section>
<section class="section experience_section">
  <div class="experience_area">
    <h2>Experience</h2>
    <p>These are the compaines where I've previously worked.</p>
  </div>
  <div class="experience_show">
    <ul class="experience_list">
      <li class="company_name active">Siam Computing</li>
    </ul>
    <div class="experience_description">
      <h4>Siam Computing</h4>
      <span>From September 2021 - to November 2022</span>
      <p>Responsbilities:
        <br><br>
        - Analyzing the requirements and design along with the team.<br>
        - Create documents for Time Estimations, Planning & Typography.<br>
        - To develop & deploy the websites with responsive.<br>
        <br><br>
        Awards:
        <br><br>
        - Best team player award as a fresher.
      </p>
    </div>
  </div>
</section>
<footer>
  <div class="get_in_touch">
    <h3>Start a project?</h3>
    <p>Interested in working together? We should queue up a time to chat.</p>
    <a class="get_in_touch_btn" href="mailto:pvk13797@gmail.com" target="_blank">Get in touch</a>
  </div>
  <div class="info">
    <div class="profile_info">
      <div class="pro_img">
        <img src="assets/img/banner_img.png" alt="Profile Image">
      </div>  
      <p>
        Prasanna Venkatesh Kumar R T V
        <br>
        Mail me at
        <a href="mailto:pvk13797@gmail.com" target="_blank">pvk13797@gmail.com</a>
      </p>
    </div>
    <div class="reach_me">
      <h3>Reach me out on</h3>
      <ul class="social_icons">
        <li>
          <a href="https://www.linkedin.com/in/" class="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com" class="github">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" class="instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyrights">
    &copy; {{year}} Prasanna Venkatesh Kumar. All rights reserved.
  </p>
</footer>